# SPDX-FileCopyrightText: 2026 JC-Lab <joseph@jc-lab.net>
#
# SPDX-License-Identifier: Apache-2.0

.cargo
.testfoundry
/target
/temp
/output
/testing/results
/testing/artifacts
/testing/signing/MyTestDriverCert.*
/testing/images/*.qcow2
